<div class="w-full bg-black py-4 flex justify-center">
    <iframe
      class="max-w-full max-w-5xl h-[152px] rounded-xl"
      src="https://open.spotify.com/embed/track/6jgkEbmQ2F2onEqsEhiliL?utm_source=generator"
      frameborder="0"
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy">
    </iframe>
  </div>