<div>
    <h2>Olá, meu amor</h2>
    <p class="text-white text-xl font-bold">
        Criei este pequeno site especialmente para você, como uma singela
        demonstração de todo o amor que sinto e que só cresce a cada dia que
        passa.
    </p>
    <p class="text-white text-xl font-bold">
        Você tem sido minha força, meu porto seguro, estando ao meu lado não só
        nos momentos de alegria, mas também nas horas difíceis, quando tudo
        parece desafiador. Sua presença constante, seu apoio inabalável e seu
        incentivo me fazem querer ser uma pessoa melhor a cada dia.
    </p>
    <p class="text-white text-xl font-bold">
        Quero que saiba que meu maior desejo é caminhar ao seu lado pela vida
        inteira, dividindo cada instante, cada sonho, cada conquista e até mesmo
        cada obstáculo. Quero construir com você uma vida repleta de amor,
        companheirismo, felicidade e memórias inesquecíveis.
    </p>
    <p class="text-white text-xl font-bold">
        Obrigado por ser meu motivo para sorrir, minha inspiração e minha razão
        para acreditar que juntos podemos superar qualquer coisa. Eu te amo mais
        do que palavras podem expressar e espero que este site reflita um pouco
        do que meu coração sente por você.
    </p>
    <span>Eu te amo mais que tudo nesse mundo!!!!!!!!</span>
</div>
